{{#layout}}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>글쓰기</h1>
                </div>
                <div class="col-sm-6">
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="container">

            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- jquery validation -->
                    <div class="card card-outline card-info">
                        <!-- form start -->
                        <form role="form" id="postWriteForm">
                            <div class="card-body ">

                                <div class="form-group">
                                    <label for="title">제목 *</label>
                                    <input type="text" name="title" class="form-control" id="title" maxlength="100" placeholder="제목을 입력하세요">
                                </div>
                                <div class="row">
                                    <div class="form-group col-6">
                                        <label for="author">작성자</label>
                                        <input type="text" name="author" class="form-control" id="author" value="채식인" readonly>
                                    </div>
                                    <div class="form-group col-6">
                                        <label for="password">비밀번호 *</label>
                                        <input type="password" class="form-control" maxlength="10" placeholder="Password" name="password" id="password" />
                                        <p style="font-size:8px;">&nbsp;&nbsp;(글 수정 및 삭제시 필요합니다)</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="category" class="mr-10">말머리 *  : </label>
                                    <div class="btn-group btn-group-toggle btn-group-sm" data-toggle="buttons">
                                        <label class="btn btn-secondary active">
                                            <input type="radio" name="category" id="option1" value="GENERAL" autocomplete="off" checked> 일반
                                        </label>
                                        <label class="btn btn-secondary">
                                            <input type="radio" name="category" id="option2" value="INFORMATION" autocomplete="off"> 정보
                                        </label>
                                        <label class="btn btn-secondary">
                                            <input type="radio" name="category" id="option3" value="EVENT" autocomplete="off"> 행사
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="content">내용 *</label>
                                    <textarea class="post-content" placeholder="" name="content" id="content"
                                    style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                                </div>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <input type="hidden" id="authorEmail" name="authorEmail" value="{{layout.loginUserEmail}}"/>
                                <a href="/community" class="btn btn-outline-secondary btn-sm float-right"><i class="fas fa-pen-square"></i> 취소</a>
                                <button type="submit" class="btn btn-outline-primary btn-sm float-right" id=""><i class="fas fa-pen-square"></i> 등록</button>
                            </div>
                        </form>
                    </div>
                    <!-- /.card -->
                </div>
                <!--/.col (left) -->
                <!-- right column -->
                <div class="col-md-6">

                </div>
                <!--/.col (right) -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
    <!-- /.content -->
</div>
{{/layout}}

<!-- Summernote -->
<script src="plugins/summernote/summernote-bs4.min.js"></script>
<script>
  // 에디터 설정 https://summernote.org/deep-dive/
  $(function () {
    // Summernote
    $('.post-content').summernote({
      toolbar: [
          ['style', ['style']],
          ['font', ['bold', 'underline', 'clear']],
          ['fontname', ['fontname']],
          ['color', ['color']],
          ['para', ['ul', 'ol', 'paragraph']],
          ['table', ['table']],
          ['insert', ['link','video', 'hr']],
          ['view', ['fullscreen', 'help']],
      ],
      height: 200,   //set editable area's height
      lang : 'ko-KR',
      callbacks: {
        onImageUpload : function(files, editor, welEditable) {
           v_fn_sendFile(files[0], editor, welEditable);
        },
      }
    });
  })

    // summernote 에디터에 이미지 업로드
    function v_fn_sendFile(file,editor,welEditable) {
        setTimeout(function(){
            main.checkImageTag()
        }, 100);
        return false;
    }
</script>
<script src="js/app/post.js"></script>
<!-- jquery-validation -->
<script src="plugins/jquery-validation/jquery.validate.min.js"></script>
<script src="plugins/jquery-validation/additional-methods.min.js"></script>

<script type="text/javascript">
$(document).ready(function () {
  $.validator.setDefaults({
    submitHandler: function () {
      if(String($('#content').val()).trim() == "" ){
        alert("내용을 입력해 주세요.");
        return false;
      };
      main.save();
    },
    ignore: ":hidden:not(.post-content)"
  });
  $('#postWriteForm').validate({
    rules: {
      title: {
        required: true,
        maxlength: 100
      },
      password: {
        required: true,
        minlength: 4
      }
    },
    messages: {
      title: {
        required: "제목을 입력하세요.",
        maxlength: "죄송합니다 100자까지만 입력 가능합니다.(┬┬﹏┬┬)"
      },
      password: {
        required: "비밀번호를 입력하세요.",
        minlength: "비밀번호를 최소 4자리에서 10자리까지 입력하셔야 합니다. 쉬운 비밀번호는 타인이 수정 또는 삭제하기 쉬우니, 어려운 비밀번호를 입력해 주세요."
      }
    },
    errorElement: 'span',
    errorPlacement: function (error, element) {
      error.addClass('invalid-feedback');
      element.closest('.form-group').append(error);
    },
    highlight: function (element, errorClass, validClass) {
      $(element).addClass('is-invalid');
    },
    unhighlight: function (element, errorClass, validClass) {
      $(element).removeClass('is-invalid');
    }
  });
  $('#postWriteForm').each(function () {
    if ($(this).data('validator')){
        console.log($(this).data('validator').settings.ignore);
        $(this).data('validator').settings.ignore = ".post-content *";
        }
    });

});
</script>
