{{#layout}}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Book</h1>
                </div>
                <div class="col-sm-6">
                    {{#layout.isStaff}}
                    <a href="/book/write" class="btn btn-outline-secondary btn-sm float-right"><i class="fas fa-pen-square"></i> 글쓰기</a>
                    {{/layout.isStaff}}
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="container">

            <!-- Default box -->
            <div class="card">
                <div class="card-body p-0">
                    <table class="table table-striped projects">
                        <thead>
                        <tr class="d-none d-sm-table-row">
                            <th class="text-center" style="width: 60%">제목</th>
                            <th class="text-center" style="width: 10%">글쓴이</th>
                            <th class="text-center" style="width: 20%">작성일</th>
                            <th class="text-center" style="width: 10%">조회</th>
                        </tr>
                        </thead>
                        <tbody id="tbody">
                        {{#books}}
                        <tr>
                            <td><a href="/book/view/{{id}}" style="width:100%">{{title}}</a></td>
                            <td scope="col" class="d-none d-sm-table-cell text-center">{{author}}</td>
                            <td scope="col" class="d-none d-sm-table-cell text-center">{{createdDate}}</td>
                            <td scope="col" class="text-right">{{viewCnt}}</td>
                        </tr>
                        {{/books}}
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.container -->
    </section>
    <!-- /.content -->
</div>
        {{/layout}}
