{{#layout}}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>About Vegecipe</h1>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container">
            <!-- Default box -->
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-sm-6">
                            <div class="col-12">
                                <img src="../../../dist/img/main/main-vegecipe-c.jpg" class="product-image"
                                     alt="Product Image">
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <h3>Vegecipe는 <strong>채식인 커뮤니티</strong>를 운영하고 있습니다. </h3>
                            <p>채식인들이 앞뒤 없는 공격과 싸우지 않아도 되고 마음 편하게 소통할 수 있는 공간이 필요하다고 느껴 커뮤니티를 만들었습니다.
                                이곳은 채식의 찬반을 다투거나 논쟁하는 장소가 아니라, 채식인들이 모여 편안하게 담소를 나누는 지극히 채식인에 편향된 커뮤니티입니다.
                                따라서 채식인을 불편하게 만드는 게시글은 신고가 가능하며, 신고된 게시글은 삭제될 가능성이 있습니다. 채식인의 범위는 넓게 생각하고 있습니다.
                                지금 서 있는 곳이 어디라도 같은 곳을 향해 가고 있고 동물을 사랑하기만 한다면 누구나 환영입니다.
                            </p>
                            <hr>
                            <h3 class="my-3">Vegecipe는 <strong>도서 [<em>The Minimalist Vegan</em>]</strong>의 한글 번역본을 제공합니다.</h3>
                            <p>비거니즘에 대해 배우고 싶어 원서를 둘러보던 중 비거니즘 입문서로 좋을만한 도서인 이 책을 발견하게 되었습니다.
                                그리고 책의 두 저자분께서 감사하게도 번역과 게시 권한을 Vegecipe에 주셨습니다.
                                현재 Vegecipe는 책의 내용 중 비거니즘 부분을 번역, 게재하고 있습니다.
                            </p>
                            <p>모든 저작권은 저자 Michael Ofei, Maša Ofei에 있습니다. 한글 번역문 이용에 대한 문의는 vegecipe@gmail.com으로 연락 부탁드립니다.</p>
                            <hr>
                            <p>문의사항이나 필요한 서비스가 있으시면 vegecipe@gmail.com으로 연락 부탁드립니다.</p>
                            <!--<div class="mt-4 product-share">
                                <a class="text-gray">
                                    <i class="fab fa-facebook-square fa-2x"></i>
                                </a>
                                <a class="text-gray">
                                    <i class="fab fa-twitter-square fa-2x"></i>
                                </a>
                                <a class="text-gray">
                                    <i class="fas fa-envelope-square fa-2x"></i>
                                </a>
                            </div>-->

                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.card -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
{{/layout}}
