{{#layout}}
<div class="content-wrapper">
    <section class='content'>
        <div class="container main-container">
            <!-- Small boxes (Stat box) -->
            <div class="row" >
                <div class="main-img-center-box col-lg-4 col-md-4 col-sm-4 col-12">
                    <!-- small box -->
                    <a href="/community">
                        <img src="../../dist/img/main/main-community-c.jpg" alt="Community" class="img-fluid img-rounded elevation-3" />
                    </a>
                </div>
                <!-- ./col -->
                <div class="main-img-center-box col-lg-4 col-md-4 col-sm-4 col-12">
                    <!-- small box -->
                    <a href="/book">
                    <img src="../../dist/img/main/main-book-c.jpg" alt="Book" class="img-fluid img-rounded elevation-3" />
                    </a>
                </div>
                <!-- ./col -->
                <div class="main-img-center-box col-lg-4 col-md-4 col-sm-4 col-12">
                    <!-- small box -->
                    <a href="/vegecipe">
                    <img src="../../dist/img/main/main-vegecipe-c.jpg" alt="Vegecipe" class="img-fluid img-rounded elevation-3" />
                    </a>
                </div>
                <!-- ./col -->
            </div>
        </div>
    </section>
</div>
{{/layout}}
