<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8"/>
    <title>베지서피 - 채식인을 위한 커뮤니티</title>
    <meta name="keywords" content ="채식, vegan, 채식주의" />
    <meta name="description" content ="채식인들이 앞뒤 없는 공격과 싸우지 않아도 되고 마음 편하게 소통할 수 있는 공간이 필요하다고 느껴 커뮤니티를 만들었습니다." />
    <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <base href="/" />
    <!-- google AdSense -->
    <script data-ad-client="ca-pub-6966979258527290" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="plugins/fontawesome-free/css/all.min.css" />
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
    <!-- Tempusdominus Bbootstrap 4 -->
    <link rel="stylesheet" href="plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css" />
    <!-- iCheck -->
    <link rel="stylesheet" href="plugins/icheck-bootstrap/icheck-bootstrap.min.css" />
    <!-- JQVMap -->
    <link rel="stylesheet" href="plugins/jqvmap/jqvmap.min.css" />
    <!-- Theme style -->
    <link rel="stylesheet" href="dist/css/adminlte.min.css" />
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="plugins/overlayScrollbars/css/OverlayScrollbars.min.css" />
    <!-- Daterange picker -->
    <link rel="stylesheet" href="plugins/daterangepicker/daterangepicker.css" />
    <!-- summernote -->
    <link rel="stylesheet" href="plugins/summernote/summernote-bs4.css" />
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet" />

    <!-- Vegecipe css -->
    <link rel="stylesheet" href="dist/css/main.css" />


</head>
<body class="hold-transition sidebar-collapse layout-top-nav">
<div class="wrapper">
    <!--Navbar-->
    <nav class="main-header navbar navbar-expand-md navbar-light navbar-white">
        <div class="container">
            <!--<Link to="/" class="navbar-brand brand-link">-->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a href="/" class="navbar-brand brand-link d-none d-sm-block">
                <img src="../../dist/img/main/logo.jpg" alt="AdminLTE Logo" class="brand-image elevation-3" />
            </a>
            <a href="/" class="navbar-brand brand-link d-none d-sm-block">
                <span class="brand-text font-weight-bold">Vegecipe</span>
            </a>
            <a href="/" class="navbar-brand brand-link d-sm-none d-lg-none align-middle" style="width: 52%;text-align: right;font-size: 30px;">
                <span class="brand-text font-weight-bold">Vegecipe</span>
            </a>
            <!--</Link>-->

            <div class="collapse navbar-collapse order-3" id="navbarCollapse">
                <!--Left navbar links-->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <!-- <Link to="/community" class="nav-link">-->
                        <a class="nav-link" href="/community">Community</a>
                        <!--</Link>-->
                    </li>
                    <li class="nav-item">
                        <!--<Link to="/book" class="nav-link">-->
                        <a class="nav-link" href="/book">Book</a>
                        <!--</Link>-->
                    </li>
                    <li class="nav-item">
                        <!--<Link to="/vegecipe" class="nav-link">-->
                        <a class="nav-link" href="/vegecipe">Vegecipe</a>
                        <!--</Link>-->
                    </li>
                </ul>

                <!--SEARCH FORM-->

                <!--<form class="form-inline ml-0 ml-md-3">
                    <div class="input-group input-group-sm">
                        <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search" />
                        <div class="input-group-append">
                            <button class="btn btn-navbar" type="submit">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>-->

            </div>

            <!--Right navbar links-->
            <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
                <!--Messages Dropdown Menu-->
                {{#layout.authenticatedUser}}
                <li class="nav-item dropdown user-panel">
                    <!--<span class="nav-link" id="user">{{layout.loginUserName}}</span>-->
                    <div class="image">
                        <img src="{{layout.loginUserPicture}}" class="img-circle elevation-2" alt="User Image"/>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  href="/logout">
                        <i class="fas fa-sign-out-alt"></i>
                    </a>
                </li>
                {{/layout.authenticatedUser}}
                {{^layout.authenticatedUser}}
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown">
                        <i class="fas fa-sign-in-alt"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <a href="/oauth2/authorization/google"
                           class="btn btn-block btn-primary active"
                           type="button"
                           role="button">
                            Google Login
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="/oauth2/authorization/naver"
                           class="btn btn-block btn-success active"
                           type="button"
                           role="button">
                            Naver Login
                        </a>
                    </div>
                </li>
                {{/layout.authenticatedUser}}
            </ul>
        </div>
    </nav>
    <!--/.navbar-->

    {{{layout.Body}}}
    <div>
        <footer class="main-footer">
            <strong>Copyright © 2019-2020 Vegecipe.</strong>
            All rights reserved.
            <div class="float-right d-none d-sm-inline-block">
                <b>Version</b> 1.0.0
            </div>
        </footer>
    </div>


    <!-- REQUIRED SCRIPTS -->

    <!-- jQuery -->
    <script src="plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="dist/js/adminlte.min.js"></script>


</body>
</html>
